Label {
    font-size: 20%;
    text-align: center;
}

TextField {
    background-color: #2e2c76;
    border-color: #ee1d23;
    border-style: solid;
    border-width: 2;
    color: #ffffff;
    margin: 5% 10% 0 10%;
    font-weight: bold;
    font-size: 40%;
}

#seleccionar {
    margin: 5% 0 0 0;
}

#seleccionar .labelSeleccionar {
    font-weight: bold;
    font-size: 20%;
}

#seleccionar .opcion {
    background-color: #2e2c76;
    border-color: #ee1d23;
    border-style: solid;
    border-width: 2;
    color: #ffffff;
    margin: 5% 10% 0 10%;
    font-weight: bold;
    font-size: 40%;
}

.validar {
    color: #ee1d23;
    font-weight: bold;
    font-size: 20%;
}

.enviar {
    margin: 5% 10% 0 10%;
    font-size: 40%;
    background-color: #ee1d23;
    color: #ffffff;
    font-weight: bold;
    padding: 10%
}